particle-effect-editor
  display block
  position relative
  height 100%

  & > md-tabs
    height 100%

  @import './pEffectEditorLayer'

  .md-button.btn-add-layer
    position absolute
    top -2px
    right 0
    width 40px
    height 40px
    line-height 40px
