p-effect-editor-layer
  display block
  position relative
  padding 20px
  min-width 500px

  .invalid-layer
    background-color rgba(100, 0, 0, 0.2)

  .button-bar
    display flex
    flex-direction row-reverse

    & > .md-button
      width 40px
      height 40px
      line-height 40px

 .editor-section
    margin 5px
    padding 20px
    padding-bottom 10px
    border solid 3px #ccc
    border-radius 5px

    & > *
      margin 5px 0
