.editor-section {
  margin: 5px;
  padding: 5px;
  padding-bottom: 10px;
  border: solid 3px #ccc;
  border-radius: 5px;
  min-width: 500px;
}

.fixed-scroll {
  position: fixed;
  top: 10px;
  right: 10px;
}

.fadeout {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #000;
  transition: .5s;
  pointer-events: none;
}

.active {
  opacity: .5;
}

.title {
  display: inline-block;
  font-weight: bold;
  font-size: 2em;
}

.section-header {
  font-size: 1.5em;
  font-weight: bold;
}

.param-header {
  font-weight: 'bold';
  width: 60px;
  float: left;
  margin: 0;
  margin-right: 10px;
  padding: 5px;
  border-bottom: solid 3px #888;
  border-right: solid 3px #888;
}

.collapse-header {
  font-weight: 'bold';
  width: 70px;
  display: inline-block;
  margin: 5px;
  margin-left: 0;
  margin-top: 0;
  padding: 5px;
  border-bottom: solid 3px #888;
  border-right: solid 3px #888;
}

.state-header {
  font-size: 1.3em;
}

.effect-load-box {
  display: inline-block;
  font-size: 1.5em;
  margin-left: 20px;
}

.effect-load-box input {
  margin-bottom: 3px;
  margin: 10px;
  margin-top: 0;
  height: 1.2em;
  font-size: .75em;
  margin-top: 2px;
  vertical-align: text-top;
}

.param-section {
  margin-bottom: 10px;
  margin-left: 5px;
}

.add-layer-button {
  float: right;
}

.tab-header {
  display: inline-block;
  height: 30px;
  max-width: 100px;
  background-color: #AAA;
  border-radius: 5px;
  padding: 0;
  padding-left:10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.remove-layer-button {
  height: 10px;
  width: 10px;
  float:right;
  padding: 0;
}

.tab-header-section {
  height: 30px;
  width: 100%;
  margin-left: 5px;
  margin-bottom: -3px;
}

.active-header {
  background-color: #fff;
  border-top: 5px solid #ccc;
  border-left: 5px solid #ccc;
  border-right: 5px solid #ccc;
}

.editor-line {
  display: inline-block;
}

.evolution-step {
  background-color: #CCC;
  border: 2px solid #EEE;
  padding: 3px;
  margin: 2px;
  margin-left: 10px;
}

.param-content {
  font-size: .75em;
  margin-left: 10px;
}

.update-button {
  float: right;
  font-size: 1.3em;
}

.collapse-body {
  transition: .5s;
  overflow: hidden;
}

hr {
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.2em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
}

.collapsed {
  height: 0;
}

.remove-button {
  float: right;
}

.parameter-span {
  display: block;
}

.parameter-label {
  width: 100px;
  display: inline-block;
}

.parameterized-div {
  display: inline-block;
}